* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #007bff;
    --secondary-color: #1b212b;
    --info-color: #17a2b8;
    --light-color: #f5f5f5;
    --text-secondary-color: #d9d9d9;
    --text-third-color: #343434;
    --dark-color: #343a40;
    --font-default: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-default), sans-serif;
    background-color: #f5f5f5;
}

.container {
    margin: 0 auto;
}

/* Resume */

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.resume .resume__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.resume .resume__title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--light-color);
}

.resume .resume__subtitle {
    padding-top: 5px;
    font-weight: 700;
    color: var(--primary-color);
}

.resume .resume__links {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 3px;
    background-color: var(--light-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume__links__link {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.resume__links__link svg {
    fill: #000;
    transition: fill 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.resume__links__link:hover {
    transform: scale(1.1);
}

.resume__links__link:hover svg {
    fill: var(--primary-color);
}

.resume__links__link img {
    transition: filter 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.resume__links__link:hover img {
    filter: brightness(1.2);
}

.resume .resume__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume__buttons__button:hover {
    background-color: var(--dark-color);
}

.resume__buttons__button {
    color: var(--light-color);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
}

.resume .resume__buttons .resume__buttons__button .resume__buttons__button__icon {
    width: 20px;
}

.resume .resume__icon {
    background-color: var(--light-color);
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    width: 40px;
    transform: rotate(90deg);
}

.resume .resume__icon:hover {
    transform: rotate(90deg) scale(1.1);
    transition: filter 0.3s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;
}


/* About me */

.general__section {
    display: flex;
    padding: 60px 450px;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 100px;
    color: var(--text-third-color);
}

.section-content {
    display: flex;
    justify-content: flex-start;
}


.about__me {
    background-color: var(--secondary-color);
    color: var(--text-secondary-color);
}

.general__section .general__section__title {
    text-transform: uppercase;
    padding-bottom: 3px;
    border-bottom: 2px solid var(--primary-color);
}

.general__section .my__photo {
    width: 120px;
    border-radius: 12px;
}

.general__section .general__section__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.general__section .general__section__content__description {
    margin-top: 25px;
}

.horizonal__line {
    width: 50%;
    margin: 0 450px;
}

.general__section .skills__logo img {
    cursor: pointer;
}

.general__section .skills__logo img:hover {
    transition: filter 0.3s ease-in-out, transform 0.2s ease-in-out;
    transform: scale(1.1);
}

.general__section .general__section__contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.general__section .general__section__social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
}

.general__section .general__section__social div {
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.general__section .general__section__social div span {
    color: var(--light-color);
    padding-left: 10px;
}

.general__section .general__section__social div a {
    display: flex;
    align-items: center;
    color: var(--text-third-color);
}

.general__section .general__section__social div img {
    filter: brightness(0) invert(1);
}

.general__section .general__section__social div a svg {
    fill: var(--light-color)
}

footer {
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

input {
    padding: 10px;
    border-radius: 5px;
    width: 400px;
}

textarea {
    padding: 5px;
}

footer .resume__icon {
    background-color: var(--light-color);
    border-radius: 50%;
    width: 40px;
    transform: rotate(-90deg);
}

footer .resume__icon:hover {
    transform: rotate(-90deg) scale(1.1);
    transition: filter 0.3s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;
}